.best-seller {
    margin-top: 50px;

    h2 {
        color: #22262A;
    }

    .more {
        background-color: rgb(46, 144, 229);
        transition: 0.3s ease-in-out;

        &:hover {
            background-color: #165083;
        }
    }

    .categories {
        button {
            border-radius: 20px;
            padding: 10px 15px;
            transition: all 0.3s ease;
            font-size: 16px;
            // box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
            font-weight: 600;

            &:hover,
            &.active {
                background-color: #007bff;
                color: white;
                border-color: #007bff;
            }
        }


    }

    .products-container {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        padding-bottom: 10px;

        @media (max-width:767px) {
            & {
                justify-content: start;
            }
        }

        @media (max-width: 768px) {
            overflow-x: auto;
            flex-wrap: nowrap;
            scroll-snap-type: x mandatory;
            scrollbar-width: none;

            &::-webkit-scrollbar {
                display: none;
            }
        }
    }

    .product-card {
        flex: 0 0 auto;
        width: 250px;
        transition: transform 0.3s ease-in-out;
        border-radius: 10px;
        background: #fff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-right: 35px;
        height: 300px;

        @media (max-width: 768px) {
            & {
                margin-right: 0;
            }
        }

        .image {
            img {
                height: 100%;
            }
        }

        &:hover {
            transform: scale(1.05);
        }

        &:hover .Card-hover {
            bottom: 0;
        }

        .Card-hover {
            background-color: #ffffff9c;
            bottom: -100%;
            transition: 0.3s ease-in-out;


            i {
                padding: 5px;
                font-size: 25px;
                color: rgb(51, 160, 255);
                border: 1px solid rgb(51, 160, 255);
                border-radius: 50%;

                &:hover {
                    background-color: #007bff;
                    color: #fff;
                }
            }
        }

        .card-img-top {
            height: auto;
            border-radius: 10px;
        }

        .card-body {
            padding: 0;

            .card-title {
                font-size: 15px;
                font-weight: 600;
                color: #333;
            }

            .price {
                margin-top: 10px;
                font-size: 18px;
                justify-content: center;
                gap: 10px;

                .new-price {
                    color: red;
                    font-weight: bold;
                }

                .old-price {
                    text-decoration: line-through;
                    color: gray;
                }
            }
        }
    }

    .scroll-btn {
        display: none;

        @media (max-width: 768px) {
            display: block;
            background: rgba(0, 0, 0, 0.2);
            color: white;
            border: none;
            padding: 10px;
            border-radius: 50%;
            position: absolute;
            z-index: 10;
            cursor: pointer;
            transition: all 0.3s ease;

            &:hover {
                background: rgba(0, 0, 0, 0.5);
            }
        }
    }

    .scroll-btn.left {
        left: 10px;
        top: 50%;
    }

    .scroll-btn.right {
        right: 10px;
        top: 50%;
    }
}