nav {
    text-align: center;
    margin-top: 48px;

    .links {

        ul {
            display: flex;
            justify-content: center;
            margin-top: 25px;

            li {
                padding: 4px;
                margin-right: 3%;
                text-transform: uppercase;
                font-weight: 500;

                a {
                    transition: 0.2s ease-in-out;
                }

                &:hover a {
                    color: rgb(51, 160, 255);
                    border-bottom: 2px solid;


                }

                .active {
                    color: rgb(51, 160, 255)
                }
            }
        }

        @media (max-width:767px) {
            ul {

                flex-wrap: wrap;
            }
        }
    }
}