.footer {
    background: #f8f9fa;
    padding: 40px 0;

    .logo {
        filter: grayscale(1);
    }

    .brand {
        font-weight: bold;
        font-size: 1.5rem;
    }

    .social-icons {
        font-size: 1.5rem;
    }

    ul {
        list-style: none;

        li {
            margin-bottom: 5px;
            color: #6c757d;
            cursor: pointer;

            &:hover {
                color: rgb(149, 147, 147);
                text-decoration: underline;
            }
        }
    }

    .payment-icons {
        cursor: pointer;

        img {
            width: 250px;
        }

    }

}

.footer-links {
    .footer-title {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .dropdown-icon {
            display: none;
        }
    }

    ul {
        display: block; // الافتراضي
    }

    @media (max-width: 768px) {
        .footer-title {
            .dropdown-icon {
                display: inline-block;
                margin-left: 10px;
            }
        }

        ul {
            display: none; // إخفاء العناصر الافتراضيًا في الموبايل
            transition: max-height 0.3s ease-out;
        }

        ul.open {
            display: block; // إظهار القائمة المفتوحة
        }
    }
}


@media (max-width:767px) {
    .row {
        gap: 0.5rem
    }

    .cols {
        background-color: #eee;
        border-radius: 15px;
    }
}