.footer {
    background: #f8f9fa;
    padding: 40px 0;

    .logo {
        filter: grayscale(1);
    }

    .brand {
        font-weight: bold;
        font-size: 1.5rem;
    }

    .social-icons {
        font-size: 1.5rem;
    }

    ul {
        list-style: none;

        li {
            margin-bottom: 5px;
            color: #6c757d;
            cursor: pointer;

            &:hover {
                color: rgb(149, 147, 147);
                text-decoration: underline;
            }
        }
    }

    .payment-icons {
        cursor: pointer;

        img {
            width: 250px;
        }

    }

}